<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= label f, :location_name, class: "control-label" %>
    <%= text_input f, :location_name, class: "form-control" %>
    <%= error_tag f, :location_name %>
  </div>

  <div class="form-group">
    <%= label f, :address, class: "control-label" %>
    <%= text_input f, :address, class: "form-control" %>
    <%= error_tag f, :address %>
  </div>

  <div class="form-group">
    <%= label f, :city, class: "control-label" %>
    <%= text_input f, :city, class: "form-control" %>
    <%= error_tag f, :city %>
  </div>

  <div class="form-group">
    <%= label f, :state, class: "control-label" %>
    <%= text_input f, :state, class: "form-control" %>
    <%= error_tag f, :state %>
  </div>

  <div class="form-group">
    <%= label f, :zip, class: "control-label" %>
    <%= text_input f, :zip, class: "form-control" %>
    <%= error_tag f, :zip %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
