<h1>Matt Callahan Art Map</h1>

<p>This site exists to catalog and map all of the murals created by our dear friend and great artist, Matt Callahan.</p>

<p>This is a group effort, so anyone who is able to please submit information on any murals that are missing or inaccurate. Once we have
  a sufficient amount of data entered, we can make this site public on the Man Made Murals domain and lock down the ability to create and edit murals.</p>

<p>
  <%= link "Add a new mural", to: mural_path(@conn, :new), class: "btn btn-default" %>
   or click on one of the map markers for more info
</p>

<div id="map"></div>

<script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 27.8923894, lng: -82.50544550000001},
        zoom: 9
      });

      var bounds = new google.maps.LatLngBounds(),
  			infowindows = [];

      <%= for mural <- @murals do %>
      <%= if mural.lat && mural.lon do %>
      (function() {

  			var marker = new google.maps.Marker({
  			    position: new google.maps.LatLng(<%= mural.lat %>, <%= mural.lon %>),
  			    map: map,
  			    title: '<%= mural.name %>'
  			});

  		var win = new google.maps.InfoWindow({
  			      content: '<%= mural.name %> <%= link "view details", to: mural_path(@conn, :show, mural) %>'
  			  });
  		infowindows.push(win);

  		// show info window on click
  			google.maps.event.addListener(marker, 'click', function() {
  				// close all other info windows
  				for(var i in infowindows) infowindows[i].close();
  			    win.open(map, marker);
  			  });


  		bounds.extend(marker.position);
  		})();
      <% end %>
      /*
      <%= link "Show", to: mural_path(@conn, :show, mural), class: "btn btn-default btn-xs" %></span>
      <span><%= link "Edit", to: mural_path(@conn, :edit, mural), class: "btn btn-default btn-xs" %></span>
      */
      <% end %>

      <%= if length(@murals) > 1 do %>
      map.fitBounds(bounds);
      <% end %>
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbfuRH_wG0PaSTZu-AUGiBHI3FY7QtmiQ&callback=initMap"
  async defer></script>
