<h1><%= @mural.name %></h1>

<div class="row">
  <div class="col-md-6">
    <p><strong>Description:</strong><br/>
    <%= @mural.description %>
  </p>

  <p><strong>Location:</strong>
    <br/>
    <%= @mural.location_name %>
    <br/>
    <%= @mural.address %>
    <br/>
    <%= @mural.city %>, <%= @mural.state %> <%= @mural.zip %>
  </p>

  <%= if not is_nil(@mural.lat) && not is_nil(@mural.lon) do %>
  <div id="single-map"></div>

  <script>
      var map;
      function initMap() {
        var coords = {lat: <%= @mural.lat %>, lng: <%= @mural.lon %>};
        map = new google.maps.Map(document.getElementById('single-map'), {
          center: coords,
          zoom: 10
        });
        var marker = new google.maps.Marker({position: coords, map: map});
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbfuRH_wG0PaSTZu-AUGiBHI3FY7QtmiQ&callback=initMap"
    async defer></script>

  <% else %>
  <p><em>could not geocode address</em></p>
  <% end %>

  </div>

  <div class="col-md-6">

    <%= if is_nil(@mural.image_path) || String.length(@mural.image_path) < 1 do %>
    <p>No image uploaded yet</p>

    <% else %>

    <div class="mural-img">
      <img src="<%= static_path(@conn, @mural.image_path) %>" alt="<%= @mural.name %>" />
    </div>

    <% end %>

    <%= form_for @conn, "/murals/#{@mural.id}/upload_image", [as: "mural", multipart: true], fn f -> %>
    <div class="form-group">
        <%= file_input f, :photo, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= submit "Upload Image", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>

</div>

<div id="help">
  <p>See something that should be changed? <%= link "Edit this mural", to: mural_path(@conn, :edit, @mural) %></p>
  <p><a href="/">Back to all murals</a></p>
</div>
